option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /public
    value: /public
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 1000
commands:
  01_node_install:
    cwd: /tmp
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    command: 'yum install -y nodejs --enablerepo=epel'
