@css {
 .child-label{margin-right: 0.5em}
 .message-button{margin-right: 0.5em}
 .react-autosuggest { position: relative;}
 .react-autosuggest input { width: 100%; height: 95%}
 .react-autosuggest__suggestions{ z-index: 10000; position:absolute; background-color: #fff; width: 100%; border: 1px solid #aaaaaa;}
 .react-autosuggest ul { list-style: none; padding-left: 0;}
 .react-autosuggest li { margin-left: 0;}
 .react-autosuggest__suggestion--focused { background-color: #ddd; }
 .react-autosuggest__suggestions-section-name { font-size: 1.0em; text-transform: uppercase; color: #777; margin-left: 5%}
 .react-autosuggest__suggestion { padding-left: 15% }
}
