@css {
  /*Global styling*/
  .dark-gray-font { color: #575757; }

  .orange-font { color: #FFBD6A; }

  .heavy-font-size {
    font-family: "Futura PT W01 Medium";
    font-size: 18px;
  }

  .medium-font-size,
  .message-button {
    font-family: "Futura PT W01 Book";
    font-size: 18px;
  }

  .page-header { border-bottom: none; }

  /*Navbar*/
  .leo-logo {
    font-size: 40px;
    display: inline;
  }

  .logout-nav {
    margin-right: 1.5%;
    margin-top: 0.4%;
  }

  .logout-nav > li {
    white-space: nowrap;
    padding-right: 5px;
  }

  .leo-nav { margin-left: 0; }

  .navbar-nav {
    white-space: nowrap;
    display: inline-block;
  }

  @media (min-width: 768px) {
    .leo-nav {
      margin-left: 1.5%;
      width: 50%;
    }
  }

  @media (min-width: 1200px) {
    .navbar-nav.leo-nav.collapsed,
    .logout-button.collapsed { display: none }
  }

  .logout-nav > li > .navbar-welcome { padding-right: 7%; }

  .leo-logo-gray { font-family: "Futura PT W01 Book" }

  .leo-logo,
  .logout-nav > li > .navbar-welcome {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .logout-button { cursor: pointer; }

  .logout-nav > li {
    white-space: nowrap;
    padding-right: 5px;
  }

  /*Positioning*/
  .message-container,
  .notes-container,
  .family-notes-container { margin-top: -15vh; }
  #all-tab { height: 100%; }

  @media (max-height: 1000px) {
    .message-container,
    .notes-container,
    .family-notes-container { margin-top: -16vh; }
    #all-tab { height: 99%; }
  }

  @media (max-height: 930px) {
    .message-container,
    .notes-container,
    .family-notes-container { margin-top: -16.5vh; }
    #all-tab { height: 99%; }
  }

  @media (max-height: 900px) {
    .message-container,
    .notes-container,
    .family-notes-container { margin-top: -17vh; }
  }

  @media (max-height: 850px) {
    .message-container,
    .notes-container,
    .family-notes-container { margin-top: -18vh; }
    #all-tab { height: 96%; }
  }

  @media (max-height: 760px) {
    .message-container,
    .notes-container,
    .family-notes-container { margin-top: -20vh; }
  }

  .tags-container { margin-bottom: 40px }

  .conversation-container,
  #chatbox {
    height: 56vh;
    z-index: 1;
  }

  .find-family-container { margin-top: -10px }

  @media (max-height: 800px) {
    .find-family-container { margin-top: 0px }
  }

  .find-family-container > .panel{
    padding-bottom: 5px;
    margin-bottom: 18px;
  }

  .notes-container { height: 35vh; }

  #staff-selection {
    position: absolute;
    margin-top: 55px;
    margin-left: -22.7%;
    z-index: 2;
  }

  #message-form .panel-body { padding-bottom: 10px }

  #close-form {
    padding-bottom: 30px;
    margin-bottom: 49px;
  }

  footer { margin: 0px }

  .feedback { margin-right: 4%; }

  /*Recipient Field*/
  .recipient-field-container {
    width: 100%;
    height: 6vh;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }

  .to-field {
    position: relative;
    top: 20%;
    padding-left: 15px;
    font-size: 18px;
    width: 100%;
  }

  .to-field--list {
    display: inline-block;
    overflow-y: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 84%;
  }

  @media (min-width: 1000px) {
    .to-field--list { width: 93%; }
  }

  .to-field--individual {
    display: inline-block;
    padding-left: 10px;
  }

  @media (max-width: 768px) {
    .to-field--individual { padding-left: 5px; }
  }

  .to-field--to {
    padding-right: 10px;
    font-size: 23px;
    display: inline-block;
  }

  @media (min-width: 1200px) {
    .message-back { display: none }
  }

  .hidden-notes {
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin-bottom: 0px;
    overflow: hidden;
  }

  /*Note Toggler*/
  @media (max-width: 1200px) {
    .hidden-notes > .family-notes-container,
    .hidden-notes > .notes-container,
    .non-selected-conversation > div > .recipient-field-container,
    .non-selected-conversation > .chat-container {
      opacity: 0;
      height: 0;
      margin-bottom: 0px;
      overflow: hidden;
    }
  }

  .toggler {
    position: relative;
    margin-top: 5px;
    padding-right: 10px;
    font-size: 25px;
    cursor: pointer;
    display: inline;
  }

  @media (max-height: 830px) {
    .toggler { margin-top: 0px; }
  }

  @media (min-width: 1200px) {
    .toggler { display: inline; }
  }

  /*Family Notes*/
  .family-notes-container {
    display: inline-block;
    height: 37vh;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    width: 100%;
  }

  .child-title { padding-top: 5px; }

  .family-notes-container,
  .notes-container { padding: 0px; }

  .family-notes-title,
  .notes-title {
    text-align: center;
    padding-top: 1.5vh;
    height: 6vh;
    border-bottom: 1px solid #E1E1E1;
  }

  @media (max-height: 700px) {
    .family-notes-title,
    .notes-title { padding-top: 1vh; }
  }

  .family-notes-title > h4,
  .notes-title > h4 { margin-top: 0px; }

  .notes-container { margin-top: 22vh; }

  @media (max-height: 900px) {
    .notes-container { margin-top: 21vh; }
  }

  @media (max-height: 900px) {
    .notes-container { margin-top: 20vh; }
  }

  @media (max-height: 830px) {
    .notes-container { margin-top: 19vh; }
  }

  @media (max-height: 740px) {
    .notes-container { margin-top: 18vh; }
  }

  .family-notes-container > .pre-scrollable {
    min-height: 31vh;
    height: 31vh;
  }

  .notes-container > .pre-scrollable {
    min-height: 29vh;
    height: 29vh;
    padding: 10px;
  }

  .note-text { padding-left: 10px; }

  /*Conversation List*/
  .empty-conversation-container { padding: 15px; }

  #chatmessages > .empty-conversation-container { padding-top: 30px; }

  .empty-message-form { height: 180px; }

  .label.guardian-name { font-size: 14px; }

  .list-group-item > .secondary-label > .guardian-name {
    background-color: #666666;
    color: white;
  }

  .list-group-item.active > .secondary-label > .guardian-name {
    background-color: white;
    color: #666666;
  }

  #all-tab > .list-group-item.active {
    background-color: #FFBD6A;
    border-color: #FFBD6A;
  }

  .list-group-item-heading.primary-label > span {
    max-width: 55%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .list-group-item-heading.primary-label > .message-date { max-width: 45%; }

  .list-group-item.active > .list-group-item-text,
  .list-group-item.active:hover > .list-group-item-text { color: white; }

  #all-tab > .list-group-item {
    height: 140px;
    overflow: hidden;
  }

  @media (min-width: 1200px) and (max-width: 1280px) {
    #all-tab > .list-group-item { height: 190px; }
  }

  @media (max-width: 740px) {
    #all-tab > .list-group-item { height: 110px; }
  }

  /*Messaging & Conversations*/
  #message-form > .panel { margin-bottom: 10px !important; }
  #chatbox {
    padding-bottom: 0px;
    margin-bottom: 4px;
  }

  .find-family-field { line-height: 4vh; }
  .form-control.messenger-reply {
    line-height: 20px;
    height: 7vh;
  }

  #staff-selection { margin-bottom: -10px}
  #chatbox { position: relative; overflow-x: hidden; width: 100%; }
  #chatmessages { bottom: 3%; position: absolute; overflow: auto; width: 98%; height: 57vh; padding-top: 10px; }
  .img-chat { max-width:400px; max-height:200px; width: auto; height: auto; }
  .img-wrapper {height: 200px;}
  .img-helper {display: inline-block; height: 100%; vertical-align: middle;}
  .message-button { margin-left: 5px; }
  @media (min-width: 420px) {
    .message-button {
      margin-right: 0.5em;
      margin-left: 0px;
    }
  }
  .guardian-name { background-color: red }
  .progress-table {display: table; width: 100%; }
  #signup_page {padding-top: 10px}
  #signup_logo { float: left; display: inline; vertical-align: middle }
  #signup_progress{ overflow: hidden}
  #progress { padding-left: 60px }
  .progress-text {color: black; font-size: 18px; font-weight: 400}
  .signup_header{font-weight: 100}
  .progress-text-container{width: 15%}
  .signup-progress-text,
  .progress-text-spacer{display: table-cell; float: none; padding: 0 0 14px; vertical-align: bottom; horizontal-align: middle}
  .full-width-button{width: 100%}
  .inline-block{display: inline-block}
  .right-padding{padding-right: 1em}
  .button-margin-top{margin-top: '23px'}
  p.signup-progress-text.progress-text-container {
    padding:0 2em 1em;
  }
  @media (min-width: 1200px) {
    .no-right-padding {padding-right: 0%}
    .tiny-left-padding {padding-left: 1%}
  }
  @media (min-width: 650px) {
    #progress_xs {display: none}
  }
  @media (max-width: 650px) {
    #progress {display: none}
  }
  .message-cell { margin-right: 1em; }
  /*Inline HR for System Messages*/
  .inline-hr {
      display: block;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
  }

  .inline-hr > span {
      position: relative;
      display: inline-block;
  }

  .inline-hr > span:before,
  .inline-hr > span:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      height: 1px;
      background: #eee;
  }

  .inline-hr > span:before {
      right: 100%;
      margin-right: 15px;
  }

  .inline-hr > span:after {
      left: 100%;
      margin-left: 15px;
  }
  .inline-hr .danger {
    color: #FF906A;
  }
  .inline-hr .primary {
    color: #6EB1FF;
  }

  /*React AutoSuggest*/
  .react-autosuggest { position: relative; font-family: "Futura PT W01 Medium" }
  .react-autosuggest input { width: 100%; height: 95%; font-size: 18px }
  .react-autosuggest__suggestions { font-size: 16px; z-index: 10000; position:absolute; background-color: #fff; width: 100%; border: 1px solid #aaaaaa; }
  .react-autosuggest ul { list-style: none; padding-left: 0; }
  .react-autosuggest li { margin-left: 0; }
  .react-autosuggest__suggestion--focused { background-color: #ddd; }
  .react-autosuggest__suggestions-section-name { font-size: 16px; text-transform: uppercase; color: #777; margin-left: 5% ; font-family: "Futura PT W01 Medium" }
  .react-autosuggest__suggestion { padding-left: 15%; font-family: "Futura PT W01 Medium" }

  /*TypeAhead*/
  span.twitter-typeahead { width: 100%; }
  .input-group span.twitter-typeahead { display: block !important; }
  .input-group span.twitter-typeahead .tt-dropdown-menu { top: 32px !important; }
  .input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu { top: 44px !important; }
  .input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu { top: 28px !important; }
  .tt-hint { color: #ddd; }
  .tt-menu { padding: 8px 0; background-color: #fff; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: inherit; box-shadow: 0 5px 10px rgba(0,0,0,.2); }
  .tt-suggestion { padding: 3px 20px; font-size: 18px; line-height: 24px; }

  /*Alert*/
  .alert-form { color: #fff!important; font-size:16px; }
  .alert-form .form-control { color: #fff; }
  .alert-default { background-color: #bbbbbb; border-color: #d6e9c6; color: #666666 !important; }
  .alert-default .alert-link { color: #666666; }

  /*Pre-scrollable Content*/
  .pre-scrollable {
    min-height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
  }

  .pre-scrollable-left {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
  }

  @media (min-width: 768px) {
    .pre-scrollable,
    .pre-scrollable-left {
      overflow-y: auto;
    }
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  /*Media Queries - Reset*/
  @media (min-width: 768px) {
    .container { width: initial; }
  }
  @media (min-width: 992px) {
    .container { width: initial; }
  }
  @media (min-width: 1200px) {
    .container { width: initial; }
  }

  /*Media Queries*/
  @media only screen and (min-width: 320px) {

    /* Small screen, non-retina */

  }

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
  only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
  only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
  only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
  only screen and (                min-resolution: 192dpi) and (min-width: 320px),
  only screen and (                min-resolution: 2dppx)  and (min-width: 320px) {

    /* Small screen, retina, stuff to override above media query */

  }

  @media only screen and (min-width: 700px) {

    /* Medium screen, non-retina */

  }

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 700px),
  only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 700px),
  only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 700px),
  only screen and (        min-device-pixel-ratio: 2)      and (min-width: 700px),
  only screen and (                min-resolution: 192dpi) and (min-width: 700px),
  only screen and (                min-resolution: 2dppx)  and (min-width: 700px) {

    /* Medium screen, retina, stuff to override above media query */

  }

  @media only screen and (min-width: 1300px) {

    /* Large screen, non-retina */

  }

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
  only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
  only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
  only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
  only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
  only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) {

    /* Large screen, retina, stuff to override above media query */

  }

  /*Glyph-Icons*/
  .glyphicon-star:before {
    color: #FC0;
    content: "\e006";
  }
  .glyphicon-ok-sign:before {
    color: #0B2;
    content: "\e084";
  }
  .glyphicon-exclamation-sign:before {
    color:#f00;
    content: "\e101";
  }
  .glyphicon-exclamation-sign-default:before {
    content: "\e101";
  }

  /*Blockquote*/
  blockquote footer:before,
	blockquote small:before,
	blockquote .small:before {
	  content: "";
	}

  /*Registration*/
  .right-fix { padding-right: 2em; }

  .page-header { padding-top: .5%; }

  .patient-avatar {
    height: 3.5em;
    margin-top: 0.2em;
    margin-right: 1.5em;
  }

  .registration-icon {
    font-size: 20px;
    padding: 3px;
  }

  .well.registration-well { background-color: #fff; }

  .well.faq-well {
   background-color: #fff;
   border-radius: 2px;
   border-color: #eee;
  }

  /*Tab styling*/
  .tags-container { width: 100%; }

  @media (min-width: 1200px) {
    .tags-container { width: 24%; }
  }

  .assignment-font {
    font-family: "Futura PT W01 Medium";
    display: inline-block;
    float: left;
    padding-right: 10px;
    font-size: 16px;
  }

  .assignment-font.cursor {
    margin-top: 7px;
    line-height: 14px;
    padding-right: 0px;
  }

  .assignment-font.cursor:after {
    content: '';
    height: 3px;
    width: 0;
    background: transparent;
    transition: 0.4s ease;
    display: block;
  }

  .assignment-font.cursor:hover:after {
    background: #FFBD6A;
    width: 100%;
  }

  .cursor { cursor: pointer; }

  @media (max-width: 420px) {
    .assignment-font {
      padding-right: 5px;
      font-size: 14px;
    }
  }

  .active-tab > .tab-name,
  .nav-tabs > li.active-tab > .tab-name:focus,
  .nav-tabs > li.active-tab > .tab-name:hover,
  .nav-tabs > li.active-tab > .tab-name:focus:hover {
    color: white;
    box-shadow: none;
  }
  .inactive > .tab-name { box-shadow: none; }
  .inactive > .tab-name:hover,
  .nav-tabs > li > .tab-name:focus:hover,
  .nav-tabs> li.active > .tab-name,
  .nav-tabs> li.active > .tab-name:focus,
  .nav-tabs> li.active > .tab-name:focus:hover {
    box-shadow: none;
    color: white;
    background-color: #FFBD6A;
  }

  .open-case,
  .escalated,
  .closed {
    width: 33%;
    text-align: center;
    height: 44px;
  }

  .open-div,
  .escalated-div,
  .closed-div {
    width: 100%;
    height: 10px;
  }

  .tab-name {
    padding-top: 10px;
    height: 100%;
  }

  .open-div,
  .active-tab.open-case,
  .escalated-div,
  .active-tab.escalated,
  .closed-div,
  .active-tab.closed { background-color: #FFBD6A }

  /*Button styling*/
  .btn-success.message-button { background-color: #63CF9B; }

  .btn-primary.message-button { background-color: #6EB1FF; }

  .btn-danger.message-button { background-color: #FF906A; }

  /*Form styling*/
  #escalation-form { background-color: rgba(161, 49, 14, 0.5); }

  #close-form { background-color: rgba(66, 80, 90, 0.5); }

  /*Footer*/
  .feedback > a,
  span.gc-cs-link { color: #6EB1FF; }

  /* Mobile styling: medium-large */
  @media (min-width: 768px) and (max-width: 1200px) {
    .message-back {
      position: absolute;
      margin-top: 15px;
      margin-left: -30px;
    }

    .family-notes-container,
    .notes-container { margin-top: 0px; }

    .navbar-nav.collapsed {
      display: none;
    }

    .logout-nav--collapsed.logout-nav {
      display: none;
    }
  }

  @media (max-width: 1200px) {
    #staff-selection { margin-left: -92vw; }

    .find-family-container { display: none }

    .selected-conversation.tags-container,
    .selected-conversation.conversation-container {
      visibility: hidden;
      opacity: 0;
      height: 0;
      margin-bottom: 0px;
      overflow: hidden;
    }

    .conversation-container { height: 67vh; }

    #chatbox,
    #chatmessages { height: 48vh; }

    .family-notes-container { height: 39vh; }
    .notes-container { height: 37vh; }

    .message-back {
      display: inline-block;
      font-size: 25px;
    }

    .family-notes-container,
    .notes-container,
    .message-container { margin-top: 0px; }

    .non-selected-conversation.message-container {
      visibility: hidden;
      opacity: 0;
      height: 0;
      margin-bottom: 0px;
      overflow: hidden;
    }
  }

  @media (max-width: 1000px) {
    #staff-selection { margin-left: -91vw; }
  }

  @media (max-width: 900px) {
    #staff-selection { margin-left: -89vw; }
  }

  /* Mobile styling: medium */
  @media (max-height: 830px) {
    .footer-row { margin-top: -30px; }
  }

  @media (max-width: 700px) {
    #staff-selection { margin-left: -87vw; }
  }

  @media (max-width: 767px) {
    .message-back {
      position: fixed;
      margin-top: 23px;
      margin-left: -7px;
      z-index: 10000;
    }

    .navbar-nav.collapsed {
      position: absolute;
      left: 35%;
    }

    .heavy-font-size,
    .medium-font-size,
    blockquote { font-size: 14px; }

    .message-button { font-size: 18px; }

    .family-notes-container > h4,
    .notes-container > h4 { font-size: 20px; }
  }

  /* Mobile styling: small */
  @media (max-width: 580px) {
    #staff-selection { margin-left: -85.5vw; }
  }

  @media (max-width: 440px) {
    .navbar-nav.collapsed { left: 25%; }

    .main-container { padding: 0px; }

    #intercom-container { display: none; }
  }

  .leo-logo--collapsed {
    font-size: 30px;
    position: relative;
    bottom: 3px;
  }

  .logout-nav--collapsed {
    display: inline-block;
    float: right;
    margin-top: 15px;
  }

  .navbar-nav.collapsed > li > .navbar-brand { height: 0px; }

  .alert-form > .btn-primary.message-button { margin-bottom: -10px; }

  .pull-right.feedback,
  .container.main-container.page-header {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  @media (max-width: 400px) {
    .message-button { font-size: 16px; }
  }

  /* Mobile styling: small */
  @media (max-width: 320px) {
    .leo-logo--collapsed { display: none; }

    .navbar-nav.collapsed { left: 40%; }

    .message-button,
    .medium-font-size.feedback,
    .medium-font-size.call-footer { font-size: 13px; }

    #staff-selection { margin-left: -87vw; }
  }
}
