@css {
  /*Global styling*/
  .dark-gray-font { color: #575757 }
  .orange-font { color: #FF906A }
  .heavy-font-size {
    font-family: "Futura PT W01 Medium";
    font-size: 18px;
  }

  .medium-font-size,
  .message-button {
    font-family: "Futura PT W01 Book";
    font-size: 18px;
  }

  /*Navbar*/
  .leo-logo {
    font-size: 40px;
    display: inline;
  }

  .logout-nav {
    margin-right: 1.5%;
    margin-top: 0.4%;
  }

  .leo-nav {
    margin-left: 0;
    width: 100%;
  }

  @media (min-width: 768px) {
    .leo-nav {
      margin-left: 1.5%;
      width: 50%;
    }
  }

  .logout-nav > li > .navbar-welcome {
    padding-right: 7%;
    width: 100%;
  }

  .leo-logo-gray { font-family: "Futura PT W01 Book" }

  .leo-logo,
  .logout-nav > li > .navbar-welcome {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .logout-button { cursor: pointer; }

  /*Positioning*/
  .message-container { margin-top: 10px }

  @media (min-width: 1200px) {
    .message-container { margin-top: -160px; }
  }

  #all-tab { height: 100% }

  .tags-container { margin-bottom: 40px }

  .conversation-container {
    height: 610px;
    z-index: 1;
  }

  .find-family-container { margin-top: -10px }

  .find-family-container > .panel{
    padding-bottom: 5px;
    margin-bottom: 18px;
  }

  .notes-container {
    margin-top: -160px;
    height: 370px;
  }

  #chatbox {
    height: 610px;
    z-index: 1;
  }

  #staff-selection {
    position: absolute;
    margin-top: 55px;
    margin-left: -22.7%;
    z-index: 2;
  }

  #message-form .panel-body { padding-bottom: 10px }

  #close-form {
    padding-bottom: 30px;
    margin-bottom: 49px;
  }

  footer { margin: 0px }

  .feedback { margin-right: 4%; }

  /*Recipient Field*/
  .recipient-field-container {
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }

  .to-field {
    position: relative;
    top: 20%;
    padding-left: 15px;
    font-size: 18px;
    width: 100%;
  }

  .to-field--list {
    display: inline-block;
    overflow-y: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 94%;
  }

  .to-field--individual {
    display: inline-block;
    padding-left: 10px;
  }

  .to-field--to {
    padding-right: 10px;
    font-size: 23px;
    display: inline-block;
  }

  /*Note Toggler*/
  .hidden-notes { display: none; }

  .toggler {
    position: relative;
    margin-top: 5px;
    padding-right: 10px;
    font-size: 25px;
    cursor: pointer;
    display: none;
  }

  @media (min-width: 1200px) {
    .toggler { display: inline; }
  }

  /*Family Notes*/
  .family-notes-container {
    display: inline-block;
    height: 400px;
    margin-top: -160px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    width: 100%;
  }

  .child-title { padding-top: 5px; }

  /*Conversation List*/
  .empty-conversation-container { padding: 15px; }

  .empty-message-form { height: 180px; }

  /*Messaging & Conversations*/
  #message-form > .panel { margin-bottom: 10px !important; }
  #chatbox {
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
  .find-family-field { line-height: 40px; }
  .messenger-reply {
    line-height: 20px;
    height: 50px;
  }
  #staff-selection { margin-bottom: -10px}
  #chatbox { position: relative; overflow-x: hidden; width: 100%; }
  #chatmessages { bottom: 3%; position: absolute; overflow: auto; width: 98%; height: 595px }
  .img-chat { max-width:400px; max-height:200px; width: auto; height: auto; }
  .img-wrapper {height: 200px;}
  .img-helper {display: inline-block; height: 100%; vertical-align: middle;}
  .child-label { margin-right: 0.5em; display: inline-block }
  .message-button { margin-right: 0.5em }
  .guardian-name { background-color: red }
  .progress-table {display: table; width: 100%; }
  #signup_page {padding-top: 10px}
  #signup_logo { float: left; display: inline; vertical-align: middle }
  #signup_progress{ overflow: hidden}
  #progress { padding-left: 60px }
  .progress-text {color: black; font-size: 18px; font-weight: 400}
  .signup_header{font-weight: 100}
  .progress-text-container{width: 15%}
  .signup-progress-text,
  .progress-text-spacer{display: table-cell; float: none; padding: 0 0 14px; vertical-align: bottom; horizontal-align: middle}
  .full-width-button{width: 100%}
  .inline-block{display: inline-block}
  .right-padding{padding-right: 1em}
  .button-margin-top{margin-top: '23px'}
  p.signup-progress-text.progress-text-container {
    padding:0 2em 1em;
  }
  @media (min-width: 1200px) {
    .no-right-padding {padding-right: 0%}
    .tiny-left-padding {padding-left: 1%}
  }
  @media (min-width: 650px) {
    #progress_xs {display: none}
  }
  @media (max-width: 650px) {
    #progress {display: none}
  }
  .message-cell { margin-right: 1em; }
  /*Inline HR for System Messages*/
  .inline-hr {
      display: block;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
  }

  .inline-hr > span {
      position: relative;
      display: inline-block;
  }

  .inline-hr > span:before,
  .inline-hr > span:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      height: 1px;
      background: #eee;
  }

  .inline-hr > span:before {
      right: 100%;
      margin-right: 15px;
  }

  .inline-hr > span:after {
      left: 100%;
      margin-left: 15px;
  }
  .inline-hr .danger {
    color: #cb171e;
  }
  .inline-hr .primary {
    color: #0d87e9;
  }

  /*React AutoSuggest*/
  .react-autosuggest { position: relative; font-family: "Futura PT W01 Medium" }
  .react-autosuggest input { width: 100%; height: 95%; font-size: 18px }
  .react-autosuggest__suggestions{ z-index: 10000; position:absolute; background-color: #fff; width: 100%; border: 1px solid #aaaaaa; }
  .react-autosuggest ul { list-style: none; padding-left: 0; }
  .react-autosuggest li { margin-left: 0; }
  .react-autosuggest__suggestion--focused { background-color: #ddd; }
  .react-autosuggest__suggestions-section-name { font-size: 1.0em; text-transform: uppercase; color: #777; margin-left: 5% ; font-family: "Futura PT W01 Medium" }
  .react-autosuggest__suggestion { padding-left: 15%; font-family: "Futura PT W01 Medium" }

  /*TypeAhead*/
  span.twitter-typeahead { width: 100%; }
  .input-group span.twitter-typeahead { display: block !important; }
  .input-group span.twitter-typeahead .tt-dropdown-menu { top: 32px !important; }
  .input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu { top: 44px !important; }
  .input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu { top: 28px !important; }
  .tt-hint { color: #ddd; }
  .tt-menu { padding: 8px 0; background-color: #fff; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: inherit; box-shadow: 0 5px 10px rgba(0,0,0,.2); }
  .tt-suggestion { padding: 3px 20px; font-size: 18px; line-height: 24px; }

  /*Alert*/
  .alert-form { color: #fff!important; font-size:16px; }
  .alert-form .form-control { color: #fff; }
  .alert-default { background-color: #bbbbbb; border-color: #d6e9c6; color: #666666 !important; }
  .alert-default .alert-link { color: #666666; }

  /*Pre-scrollable Content*/
  .pre-scrollable {
    min-height: 100%;
    max-height: 100%;
    overflow-y: auto;
  }
  .pre-scrollable-left {
    overflow-y: auto;
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  /*Media Queries - Reset*/
  @media (min-width: 768px) {
    .container {
      width: initial;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: initial;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: initial;
    }
  }

  /*Media Queries*/
  @media only screen and (min-width: 320px) {

    /* Small screen, non-retina */

  }

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
  only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
  only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
  only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
  only screen and (                min-resolution: 192dpi) and (min-width: 320px),
  only screen and (                min-resolution: 2dppx)  and (min-width: 320px) {

    /* Small screen, retina, stuff to override above media query */

  }

  @media only screen and (min-width: 700px) {

    /* Medium screen, non-retina */

  }

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 700px),
  only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 700px),
  only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 700px),
  only screen and (        min-device-pixel-ratio: 2)      and (min-width: 700px),
  only screen and (                min-resolution: 192dpi) and (min-width: 700px),
  only screen and (                min-resolution: 2dppx)  and (min-width: 700px) {

    /* Medium screen, retina, stuff to override above media query */

  }

  @media only screen and (min-width: 1300px) {

    /* Large screen, non-retina */

  }

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
  only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
  only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
  only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
  only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
  only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) {

    /* Large screen, retina, stuff to override above media query */

  }

  /*Glyph-Icons*/
  .glyphicon-star:before {
    color: #FC0;
    content: "\e006";
  }
  .glyphicon-ok-sign:before {
    color: #0B2;
    content: "\e084";
  }
  .glyphicon-exclamation-sign:before {
    color:#f00;
    content: "\e101";
  }
  .glyphicon-exclamation-sign-default:before {
    content: "\e101";
  }

  /*Blockquote*/
  blockquote footer:before,
	blockquote small:before,
	blockquote .small:before {
	  content: "";
	}

  /*Registration*/
  .right-fix {
    padding-right: 2em;
  }

  .page-header {
    padding-top: .5%;
  }

  .patient-avatar {
    height: 3.5em;
    margin-top: 0.2em;
    margin-right: 1.5em;
  }

  .registration-icon {
    font-size: 20px;
    padding: 3px;
  }

  .well.registration-well {
    background-color: #fff;
  }

  .well.faq-well {
   background-color: #fff;
   border-radius: 2px;
   border-color: #eee;
  }

  /*Tab styling*/
  .tags-container { width: 100%; }

  @media (min-width: 1200px) {
    .tags-container { width: 24%; }
  }

  .assignment-font { font-family: "Futura PT W01 Book" }

  .active-tab > .tab-name,
  .nav-tabs > li.active-tab > .tab-name:focus,
  .nav-tabs > li.active-tab > .tab-name:hover,
  .nav-tabs > li.active-tab > .tab-name:focus:hover {
    color: white;
    box-shadow: none;
  }

  .inactive > .tab-name,
  .inactive > .tab-name:hover { box-shadow: none; }

  .open-case,
  .escalated,
  .closed {
    width: 33%;
    text-align: center;
    height: 44px;
  }

  .open-div,
  .escalated-div,
  .closed-div {
    width: 100%;
    height: 10px;
  }

  .tab-name {
    padding-top: 10px;
    height: 100%;
  }

  .open-div,
  .active-tab.open-case { background-color: #77DD77 }

  .escalated-div,
  .active-tab.escalated { background-color: #FFB347 }

  .closed-div,
  .active-tab.closed { background-color: #696969 }
}
