@css {
  .recipient-field-container {
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }

  .messenger-reply {
    line-height: 20px;
    height: 50px;
  }

  .find-family-field {
    line-height: 40px;
  }

  .hidden-notes {
    display: none;
  }

  .note-toggler {
    position: relative;
    top: 30%;
    padding-right: 10px;
    font-size: 25px;
    cursor: pointer;
  }

  #message-form > .panel {
    margin-bottom: 10px !important;
  }

  .to-field {
    position: relative;
    top: 20%;
    padding-left: 15px;
    font-size: 18px;
  }

  .to-field--parents {
    display: inline-block;
  }
  .to-field--to {
    padding-right: 10px;
    font-size: 23px;
    display: inline-block;
  }

  #chatbox {
    padding-bottom: 0px !important;
    margin-bottom: 10px !important;
  }
}
